**
!dist/extension.js
!dist/yag-template-lsp
!dist/yag-template-lsp.exe
!package.json
!package-lock.json
!yag-language-configuration.json
!yag.tmLanguage.json
!ydef-language-configuration.json
!ydef.tmLanguage.json
!icon.png
!README.md
!LICENSE.md
